certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
gTTS==2.5.3
idna==3.10
mutagen==1.47.0
pdfminer==20191125
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==10.4.0
PyAudio==0.2.14
pycparser==2.22
pycryptodome==3.20.0
pygame==2.6.0
PyPDF2==3.0.1
pypdfium2==4.30.0
requests==2.32.3
setuptools==75.1.0
SpeechRecognition==3.10.4
tk==0.1.0
ttkbootstrap==1.10.1
typing_extensions==4.12.2
urllib3==2.2.3
